/*slide images starts */
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  margin-left: 300px;
  position: relative;
}

.slide-nav {
  text-align:center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
  margin-top: -4rem;
  background: rgba(0, 0, 0, 0.61);
  position: relative;
}

/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 4px 16px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* Slide Images Ends */

header .logo {
	flex: 30%;
  position: absolute;
  margin-left: 5%;
  z-index: 10;
}

/* navigation starts */
.navigation{
  flex: 30%;
}

div.navigation ul li a{
	color: white;
	display: flex;
	position: relative;
	z-index: 1;
	padding: 3rem;
  margin: 1rem;
  font-family: marker felt thin;
}

/* Style the tab */
div.navigation ul li a{
	overflow: hidden;
	border: 1px solid #FEC802;
	background-color: #FEC802;
}

/* Style the buttons inside the tab */
div.navigation ul li a{
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
  text-decoration: none;
}

/* Change background color of buttons on hover */
div.navigation ul li a:hover {
background-color: #DFC8D1;
}

/* Create an active/current tablink class */
div.navigation ul li a {
background-color: #AC79A1;
}
/* navigation ends */

p{font-family: "Comic Sans MS";}
p{color: #DFC8D1;}

section.hero h1{
	font-size: 100px;
	line-height: 70px;
	font-family: academy engraved LET;
}

section.hero p{
	font-family: marker felt thin;
}

section.layout{
  display: flex;
}

section.content{
  flex: 70%;
  padding: 3rem;
}

section.table table{
	border: 3px solid #000;
	width: 500px;
}

section.table table th,
section.table table td{
	padding: 10px;
	border: 1px solid #ccc;
}

/* Table Font and Color */
section.table table tr th{
  color: #DFC8D1;
  font-family: comic san MS;
}

section.table table tr td{
  color: white;
  font-family: academy engraved LET;
}

section.Northwest iframe{
	border: 0;
	width: 93vw;
	height: 320px;
}

body{
	background-color: maroon;
	color: #fff;
	font-size: 27px;
	font-weight: 400;
	line-height: 1.65em;
	margin:0;
	padding: 0px;
}

.gold-body {
  background: gold;
  margin: auto;
  width: 95%;
}

.black-body{ 
  background: black;
  margin: auto;
  width: 98%;
 }

h2{font-family: academy engraved LET;}

section.artist h2{
	font-family: academy engraved LET;
  padding: 10px
}

section.artist h3{
	font-family: academy engraved LET;
}

/* Images */
img{
	max-width: 100%;
}

header {
	display: flex;
}

img{
  border: none;
  border-radius: 0px;
  padding: 5px;
  width: 300px;
}

div.column-right{
  font-family: marker felt thin;
}

form{
  display: flex;
}

form .column{
  flex: 50%;
  padding: 1rem;
}

form .column-right {
  text-align: right;
}

form input{
  font-family: comic san MS;
  font-color: #AC79A0; 
  width: 200px;
  height: 40px;
  border: 1px;
  margin-bottom: 1rem;
}

form textarea{
  font-family: comic san MS;
  width: 300px;
  height: 175px;
  border: 1px;
  margin-bottom: 1rem;
}


@media screen and (max-width: 480px) {
  header.hero nav{
    height: 40px;
    width: 100%;
}

header.navigation div ul {
  margin: 1rem 0;
  flex: none;
  display: block;
  padding: 0;
  display: block;
}

section.navigation div ul li a{
  padding: 1rem 0.4rem;
  font-size: 12px;
  font-weight: bold;
}

header.hero section h1{
  font-size: 30px;
  line-height: 10px;
}

header.logo div{
  size: 10px;
}

header.slideshow div{
  size: 45px;
} 

section.content{
  flex: 70%;
  padding: 1rem;
}












